/*  Title: style sheet
        Purpose: intended for index.html
        Author: Renaissance Carr
*/
body {
    background-color: #56a2e4; /*dark purple background*/
}
h1{
    position:fixed;
}
h4 {
    color: hsl(183 80% 70%); /*cyan header*/
    margin-left: 10px; /*absolute value, longhand margin*/
}
h3 {
    font-size: 25px;
    color: #69096d /*dark darkpurple header*/
    margin-left: 10px; /*absolute value, longhand margin*/
}
h2 {
    color: white; 
    margin: 10px 20px 25px 20px; /*shorthand margin*/
}
.Component {
}
.Component-heading {
    font-size: 1.5em; /*relative to parent*/
}
.Component-body {
    display: flex;
    font-size: 20px; /*absolute unit*/
}
.wrapper {
    font-size: 1.2em; /*relative to parent*/
    text-decoration: underline;
    display: grid;
    grid-template-columns: 200px 250px 200px 200px;
    grid-template-rows: auto;
    justify-items: start;
}

.px {
    width: 150px; /*absolute unit*/
    height: 50px;
    margin-left: 1cm; /*absolute unit*/
}

.vw {
    width: 24vw; /*relative to 1% of viewport's width*/
    margin-left: 10mm; /*absolute unit*/
}

.em {
    width: 11em; /*relative to parent*/
    margin-left: 1pc; /*absolute unit*/
}
p,
ul {
    flex-basis: auto;
    display: inline;
    border: 1.5px groove #5cdbc9; /*cyan*/
    padding: .1em .1em .1em .1em; /*long hand padding*/
}

.block,
li {
    display: inline-block;
    border: 1.5px inset #1e781b; /*blue*/ /*shorthand*/
    padding: .1em;
}
li[class="a"]{ /*attribute selector*/
    color: #7bd6eb; /*cyan*/
}
h4[class="b"]{
    background-color: #eecdec; /*light pink*/
    color: rgb(67 21 146);
}
h4[class="c"] {
    background-color: white; 
}

ul {
    display: flex;
    list-style: none;
    color: black;
    position: static;
}

.box {
    display: flex inline;
    flex-grow:2;
    flex-basis: auto;
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;  /*long hand*/
    background-color: rgb(221 186 243); /*pale purple*/
    padding: 1px;
    margin: 20px;
    text-align: center;
}
button:hover {
    color: blue;
}

button:active{
    color: red;
}

@media screen and (max-width: 300px) and (orientation: landscape) {
    body {
        font-size: 5px;
    }
}
@font-face {
    font-family: "Staatliches";
    src: url("https://fonts.google.com/");
}
html {
    font-family: Staatliches, Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
/*media query checks for small screen and reduces font size*/
#special,.emphasize {
    justify-self: center;
    background-color: hsl(183 80% 70%); /*class selector, id selector, selector list*/
}
* {
    font-style: inherit; /*universal selector*/
}

p::first-letter{font-size:1.5em;} /*element selector*/
ul > li { /*child combinator */
    font-style: italic;
}
.box p { /*descendent combinator*/
    font-style: unset;
}
h3 + ul { /*adjacent sibling combinator*/
    background-color:rebeccapurple;
}
h4 ~ img { /*gen sibling combinator*/
     justify-content: left;
}
